body {
	//background: url(../images/page-mock.png);
	background-size: 1024px 885px;
	background-repeat: no-repeat;
	font-family: Verdana, sans-serif;
	font-color: #f07c17;
}
h1 {
	text-align: center;
	color: #666666;
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 27px;
    margin-top: 42px;
    margin-left: -10px;
    letter-spacing: -0.6px;
}
#main {
	margin-left: 8px;
    margin-top: -2px;
}
ul {
	color: #666666;
    line-height: 31px;
    margin-top: 30px;
    margin-left: 9px;
    border: 1px;
}
.para {
	line-height: 30px;
	margin-top: 30px;
	color:#666666;
    margin-left: 22px;
}
h2 {    
	color: #f07c17;
    margin-top: 0px;
    margin-left: 23px;}

.container {
	width: 970px;
	margin: 26px 27px;
}
.left {
	width: 40%;
	float: left;
}
.right {
	width: 60%;
	float: left;
}
.box {
	border: 1px;
	width: 319px;
	margin-top: 28px;
	padding: 10px 30px 30px;
}
img {
	width: 374px;
	margin: 10px;
}
